# Node
frontend/employee-manager-frontend/node_modules/
frontend/employee-manager-frontend/dist/

# IntelliJ
backend/employee-manager-backend/.idea/
backend/employee-manager-backend/target/

# OS files
.DS_Store
